<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>login</title>
<link rel="stylesheet" type="text/css"
	th:href="@{assets/css/login/normalize.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{assets/css/login/demo.css}" />
<!--必要样式-->
<link rel="stylesheet" type="text/css"
	th:href="@{assets/css/login/component.css}" />
<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
	<div class="container demo-1">
		<div class="content">
			<div id="large-header" class="large-header">
				<canvas id="demo-canvas"></canvas>
				<div class="logo_box">
					<h3>PIS系统 欢迎你</h3>
					<form action="#" name="f" method="post">
						<div class="input_outer">
							<span class="u_user"></span> 
							<input id="username" name="logname" list="itemlist"
								class="text" style="color: #FFFFFF !important" type="text"
								placeholder="请输入账户" />
							<datalist id="itemlist">
							</datalist>
						</div>
						<div class="input_outer">
							<span class="us_uer"></span> <input id="password" name="logpass"
								class="text"
								style="color: #FFFFFF !important; position: absolute; z-index: 100;"
								type="password" placeholder="请输入密码" />
						</div>

						<span id="notify" th:value="${notify}"></span>
						<div class="mb2" id="login">
							<a class="act-but submit" href="javascript:;"
								style="color: #FFFFFF">登录</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
	<script th:src='@{/assets/js/login/TweenLite.min.js}'></script>
	<script th:src='@{/assets/js/login/EasePack.min.js}'></script>
	<script th:src='@{/assets/js/login/rAF.js}'></script>
	<script th:src='@{/assets/js/login/demo-1.js}'></script>
	<!--[if !IE]> -->

	<script th:src='@{/assets/js/jquery-1.10.2.min.js}'></script>
	<script th:src='@{/assets/js/jquery.cookie.js}'></script>
	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		"<![CDATA["
		jQuery(function() {
			$("#login").click(function() {
				var username = $("#username").val();
				var password = $("#password").val();
				
				var param = {};
				param['username'] = username;
				param['password'] = password;
				$.ajax({
					url : "/security/landingcheck",
					type : 'POST',
					datatype : "json",
					contentType : "application/json",
					data : JSON.stringify(param),
					success : function(data) {
						if (data) {
							$.cookie('username', username, { expires: 7 }); // 存储一个带7天期限的 cookie
							location = "/"
						} else {
							$("#notify").html(data);
						}
					}
				});
			});
			$(document).on(
					'keypress',
					function(e) {
						var keyCode = e.keyCode ? e.keyCode : e.which ? e.which
								: e.charCode;
						if (keyCode == 13) {
							$("#login").click();
						}
					});
			
			$("#username").focus(function(){
				var cookie = $.cookie('username'); // 读取 cookie 
				$("#itemlist").html("<option>"+cookie+"</option>");
			});
		});
	
		"]]>"
	</script>
</body>
</html>