<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8" />
<title>增加HDFS数据节点</title>
<meta name="keywords" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="description" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- basic styles -->

<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/css/zTreeStyle/zTreeStyle.css}" />

<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

<!-- page specific plugin styles -->
<link rel="stylesheet"
	th:href="@{/assets/css/jquery-ui-1.10.3.custom.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/chosen.css}" />
<!-- fonts -->

<link rel="stylesheet"
	th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300}" />

<!-- ace styles -->

<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />

<!--[if lte IE 8]>
		  <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}" />
		<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script th:src="@{/assets/js/ace-extra.min.js}"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
		<script th:src="@{/assets/js/html5shiv.js}"></script>
		<script th:src="@{/assets/js/respond.min.js}"></script>
		<![endif]-->
</head>

<body>

	<div th:replace="base/navbar::navbar"></div>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#"> <span
				class="menu-text"></span>
			</a>

			<div th:replace="base/sidebar::sidebar"></div>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {
						}
					</script>

					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"></i> <a href="#">Home</a>
						</li>
						<!-- <li>
								<a href="#"></a>
							</li> -->
						<li class="active"><a href="#">各子系统管理</a></li>
						<li class="active"><a href="#">更换和拓展系统</a></li>
						<li class="active">增加HDFS数据节点</li>
					</ul>
					<!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon"> <input type="text"
								placeholder="Search ..." class="nav-search-input"
								id="nav-search-input" autocomplete="off" /> <i
								class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div>
					<!-- #nav-search -->
				</div>

				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<h3 class="header smaller lighter blue">增加HDFS数据节点</h3>
							<form class="form-horizontal" role="form">
								<div class="row">
									<div style="float: left; width: 3%">&nbsp;&nbsp;</div>
									<div class="row" style="width: 93%; float: left">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<small>填写虚拟机信息</small>
												</h4>
											</div>
											<div class="panel-body">
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 虚拟机名: </label>

													<div class="col-xs-12 col-sm-9">
														<div class="clearfix">
															<input type="text" placeholder="只为字母、数子、下划线及减号" id="newVmName" name="newVmName"
																class="col-xs-12 col-sm-5" style="width:235px" />
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 虚拟机IP: </label>

													<div class="col-xs-12 col-sm-9">
														<div class="clearfix">
															<input type="text" placeholder="格式:192.168.0.1" id="newVmIp" name="newVmIp"
																class="col-xs-12 col-sm-5" style="width:235px" />
														</div>
													</div>
												</div>
												<div class="form-group model0">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 所在服务器名: </label>

													<div class="col-xs-12 col-sm-9">
														<div class="clearfix">
															<input type="text" placeholder="只为字母、数子、下划线及减号" id="newServerName" name="newServerName"
																class="col-xs-12 col-sm-5" style="width:235px" />
														</div>
													</div>
												</div>
												<div class="form-group model0">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 所在服务器IP: </label>

													<div class="col-xs-12 col-sm-9">
														<div class="clearfix">
															<input type="text" placeholder="格式:192.168.0.1" id="newServerIp" name="newServerIp"
																class="col-xs-12 col-sm-5" style="width:235px" />
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="clearfix form-actions">
											<div class="col-md-offset-3 col-md-9">
												<button class="btn btn-info" type="button" id="save">
													<i class="icon-ok bigger-110"></i> 更换
												</button>

												&nbsp; &nbsp; &nbsp;
												<button class="btn" type="reset" id="reset">
													<i class="icon-undo bigger-110"></i> 重置
												</button>
											</div>
												<span id="msg"></span>
										</div>
									</div>
								</div>
							</form>
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
			<!-- /.main-content -->
			<div th:replace="base/settings-container::settings-container"></div>
		</div>
		<!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div>
	<!-- /.main-container -->

	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script th:src='@{/assets/js/jquery-1.10.2.min.js}'></script>
	<!-- <![endif]-->
	<script th:src='@{/assets/js/bootstrap.min.js}'></script>
	<script th:src='@{/assets/js/typeahead-bs2.min.js}'></script>

	<!-- page specific plugin scripts -->
	<script th:src='@{/assets/js/zTree/jquery.ztree.core.js}'></script>
	<script th:src='@{/assets/js/jquery-ui-1.10.3.custom.min.js}'></script>
	<script th:src='@{/assets/js/fuelux/data/fuelux.tree-sampledata.js}'></script>
	<script th:src='@{/assets/js/fuelux/fuelux.tree.min.js}'></script>
	<script th:src='@{/assets/js/jquery.ui.touch-punch.min.js}'></script>
	<script th:src='@{/assets/js/jquery.slimscroll.min.js}'></script>
	<script th:src='@{/assets/js/jquery.ztree.all.js}'></script>
	<script th:src='@{/assets/js/chosen.jquery.min.js}'></script>

	<script th:src='@{/assets/js/jquery.dataTables.js}'></script>
	<script th:src='@{/assets/js/jquery.dataTables.bootstrap.js}'></script>
	<script type="text/javascript"
		th:src="@{/assets/js/flot/jquery.flot.js}"></script>
	<!-- ace scripts -->

	<script th:src='@{/assets/js/ace-elements.min.js}'></script>
	<script th:src='@{/assets/js/ace.min.js}'></script>

	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		"<![CDATA["
		jQuery(function($) {
			
			var mode="";
			
			$.ajax({
				async:false,
				type : "get",
				url : '/subsystem/InstallMode',
				dataType : "json",
				success : function(data) {
					mode=data;
					if(mode==1){
						$(".model0").hide();
					}
				}
			});
			
			$("#save").click(function(){

				if ($("#newVmName").val() == "")
				{ 
					$("#newVmName").focus();
					alert("虚拟机名称不能为空");
					return;
				}
				
				if ($("#newVmIp").val() == "")
		        { 
		        	$("#newVmIp").focus();
		        	alert("IP不能为空");
		        	return;
		        }
				
				if(mode==0){
					if ($("#newServerName").val() == "")
					{ 
						$("#newServerName").focus();
						alert("服务器名称不能为空");
						return;
					}
					
					if ($("#newServerIp").val() == "")
			        { 
			        	$("#newServerIp").focus();
			        	alert("IP不能为空");
			        	return;
			        }
				}
				
				var reg1=/^[0-9a-zA-Z_-]{1,}$/; 
				if (!reg1.test($("#newVmName").val())){
					alert("虚拟机名称格式不正确");
					$("#newVmName").val("");
					$("#newVmName").focus();
					return;
				}
				
				var reg2=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/; 
				if (!reg2.test($("#newVmIp").val())){
					alert("ip地址格式不正确");
					$("#newVmIp").val("");
					$("#newVmIp").focus();
					return;
				}
				if(mode==0){
					if (!reg1.test($("#newServerName").val())){
						alert("服务器名称格式不正确");
						$("#newServerName").val("");
						$("#newServerName").focus();
						return;
					}
					
					if (!reg2.test($("#newServerIp").val())){
						alert("ip地址格式不正确");
						$("#newServerIp").val("");
						$("#newServerIp").focus();
						return;
					}
					
					var newServerName=$("#newServerName").val();
					var newServerIp=$("#newServerIp").val();
				}else{
					var newServerName="";
					var newServerIp="";
				}
				
				var nvip=$("#newVmIp").val();
				var nvname=$("#newVmName").val();
				
				$.ajax({
					type : "post",
					url : '/subsystem/createService',
					data : {
							"clusterName":"hadoop",
							"newVmName":nvname,
							"newVmIp":nvip,
							"newServerName":newServerName,
							"newServerIp":newServerIp
						},
					dataType : "json",
					success : function(data) {
						alert(data.msg);
						if(data.code==200){
							window.location.href="/subsystem/serviceStatusList";
						}
					}
				});
			});
		});

		"]]>"
	</script>
</body>
</html>
