<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8" />
<title>删除车站</title>
<meta name="keywords" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="description" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- basic styles -->

<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />

<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

<!-- page specific plugin styles -->

<!-- fonts -->

<link rel="stylesheet"
	th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300}" />

<!-- ace styles -->

<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />

<!--[if lte IE 8]>
		  <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}" />
		<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script th:src="@{/assets/js/ace-extra.min.js}"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
		<script th:src="@{/assets/js/html5shiv.js}"></script>
		<script th:src="@{/assets/js/respond.min.js}"></script>
		<![endif]-->
</head>

<body>

	<div th:replace="base/navbar::navbar"></div>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#"> <span
				class="menu-text"></span>
			</a>

			<div th:replace="base/sidebar::sidebar"></div>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {
						}
					</script>

					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"></i> <a href="#">Home</a>
						</li>
						<!-- <li>
								<a href="#"></a>
							</li> -->
						<li class="active">车站子系统</li>
						<li class="active">其他操作</li>
						<li class="active">删除车站</li>
					</ul>
					<!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon"> <input type="text"
								placeholder="Search ..." class="nav-search-input"
								id="nav-search-input" autocomplete="off" /> <i
								class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div>
					<!-- #nav-search -->
				</div>
				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<h3 class="header smaller lighter blue">删除车站</h3>
							<div class="panel panel-default">
								<div class="panel-body">

									<div class="row" style="float: left;">
										<select id="line">
											<option value="0">----请选择线路----</option>
										</select>  &nbsp;&nbsp;&nbsp;&nbsp;

									</div>

									<div class="btn-group" style="float: left;">
										<button type="button" class="btn btn-sm btn-success"
											id="conditionSearch">查询</button>
										<!-- <button class="btn btn-sm  btn-success" id="">添加角色</button> -->
									</div>
								</div>
							</div>
							<div
								class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
								<button type="button" class="btn btn-success"
									onclick="delete_in_batches()" data-toggle="button">批量删除</button>
							</div>
							<div class="table-header">车站列表</div>
							<div class="table-responsive">
								<table id="sample-table-2"
									class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th class="center"><label> <input
													type="checkbox" class="ace" /> <span class="lbl"></span>
											</label></th>
											<th>ID</th>
											<th>车站位置</th>
											<th>X轴坐标</th>
											<th>Y轴坐标</th>
											<th>名称</th>
											<th>状态</th>
											<th>车站说明</th>
											<th>操作</th>
										</tr>
									</thead>
								</table>
							</div>
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
			<!-- /.main-content -->
			<div th:replace="base/settings-container::settings-container"></div>
		</div>
		<!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div>
	<!-- /.main-container -->

	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script th:src='@{/assets/js/jquery-1.10.2.min.js}'></script>
	<!-- <![endif]-->
	<script th:src='@{/assets/js/bootstrap.min.js}'></script>
	<script th:src='@{/assets/js/typeahead-bs2.min.js}'></script>

	<!-- page specific plugin scripts -->
	<script language="javascript" type="text/javascript"
		th:src="@{/assets/js/flot/jquery.flot.js}"></script>
	<script th:src='@{/assets/js/jquery.dataTables.js}'></script>
	<script th:src='@{/assets/js/jquery.dataTables.bootstrap.js}'></script>
	<script language="javascript" type="text/javascript"
		th:src="@{/assets/js/flot/jquery.flot.js}"></script>

	<!-- tablexport -->
	<script
		th:src='@{/assets/js/tableExport/libs/FileSaver/FileSaver.min.js}'></script>
	<script
		th:src='@{/assets/js/tableExport/libs/js-xlsx/xlsx.core.min.js}'></script>
	<script th:src='@{/assets/js/tableExport/tableExport.min.js}'></script>
	<!-- ace scripts -->

	<script th:src='@{/assets/js/ace-elements.min.js}'></script>
	<script th:src='@{/assets/js/ace.min.js}'></script>

	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		"<![CDATA["
		jQuery(function() {
			var linetype = 2;
			var stationtype = 3;
			$.ajax({
				type : 'GET',
				url : "/security/findResourceByType?type=" + linetype,
				success : function(data) {
					$("#line option").remove();
					$("#line").append("<option value=0>--请选择线路--</option>");
					if (data != null) {
						for (var i = 0; i < data.length; i++) {
							var id = data[i].id;
							var resourceName = data[i].resourceName;
							$("#line").append(
									"<option value="+id+">" + resourceName
											+ "</option>");
						}
					}
				}
			});

			$("[data-toggle='tooltip']").tooltip();


			$(document).tooltip();
			//生成表数据
			var tables = $('#sample-table-2')
					.DataTable(
							{
								searching : false,
								ordering : false,
								stateSave : true,
								ajax : {
									"url" : "/subsystem/AllStationList?",
									"dataSrc" : ""
								},
								bLengthChange : false,
								columns : [
										{
											"sClass" : "center",
											"data" : "id",
											"render" : function(data, type,
													full, meta) {
												return '<label><input type="checkbox" class="ace" value='+data+' /><span class="lbl"></span></label>'
											}
										},
										{
											"data" : "station_id"
										},
										{
											"data" : "site_number"
										},
										{
											"data" : "x_pos"
										},
										{
											"data" : "y_pos"
										},
										{
											"data" : "station_name"
										},
										{
											"data" : "station_status"
										},
										{
											"data" : "station_inf"
										},
										{
											"sClass" : "center",
											"data" : "id",
											"render" : function(data, type,
													row, meta) {
												return '<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons" > <button type="button" class="btn btn-xs btn-info" onclick="del('
														+ data
														+ ')"  data-toggle="button" >删除</button>&nbsp;</div>'
											}
										} ]
							});

			$('table th input:checkbox').on(
					'click',
					function() {
						var that = this;
						$(this).closest('table').find(
								'tr > td:first-child input:checkbox').each(
								function() {
									this.checked = that.checked;
									$(this).closest('tr').toggleClass(
											'selected');
								});

					});

			//查询播放控制器
			$("#conditionSearch").click(function() {
				var lineId = $("#line option:selected").val();
				var stationId = $("#station option:selected").val();
				if (lineId == 0) {
					alert("请选择线路")
				} else if (stationId == 0) {
					alert("请选择站点")
				} else {
					//获取站点下的设备
					var params = {};
					params['type'] = playcontrollertype;
					params['stationId'] = stationId;

					tables.settings()[0].ajax.data = params;
					tables.ajax.url("/subsystem/findPCList").load();
				}
			});

			del = function(data) {
				$.ajax({
					type : 'POST',
					data : {
						pc_id : data
					},
					url : "/subsystem/delstation?station_id=" + data,
					success : function(data) {
						alert(data)
						var oTable1 = $('#sample-table-2').DataTable();
						oTable1.ajax.reload();
					}
				});
			}
			
			delete_in_batches = function() {
				 var id = "";
				var checked = $("table").find('tr > td input:checkbox:checked')
						.each(function() {
							id += $(this).attr("value") + ',';
						})
				 /* alert(id); */ 
				  if (id.length > 0) {
					id = id.substring(0, id.length - 1)
					$.ajax({
						type : 'POST',
						url : "/subsystem/deleteStationInBatches?id=" + id,
						success : function(data) {
							alert(data)
							var oTable1 = $('#sample-table-2').DataTable();
							oTable1.ajax.reload();
						}
					});
				}   
			}

		});
		"]]>"
	</script>
</body>
</html>
