<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8" />
<title>设置车站显示屏自动开关时间</title>
<meta name="keywords" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="description" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- basic styles -->

<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />

<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

<!-- page specific plugin styles -->
<!-- fonts -->

<link rel="stylesheet"
	th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300}" />

<!-- ace styles -->

<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />

<!--[if lte IE 8]>
		  <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}" />
		<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script th:src="@{/assets/js/ace-extra.min.js}"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
		<script th:src="@{/assets/js/html5shiv.js}"></script>
		<script th:src="@{/assets/js/respond.min.js}"></script>
		<![endif]-->
</head>

<body>

	<div th:replace="base/navbar::navbar"></div>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#"> <span
				class="menu-text"></span>
			</a>

			<div th:replace="base/sidebar::sidebar"></div>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {
						}
					</script>

					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"></i> <a href="#">Home</a>
						</li>
						<!-- <li>
								<a href="#"></a>
							</li> -->
						<li class="active">车站子系统</li>
						<li class="active">查看与管理设备</li>
						<li class="active"><a href="/subsystem/examinePlayerlist">查看管理播放控制器</a></li>
						<li class="active">设置车站显示屏自动开关时间</li>
					</ul>
					<!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon"> <input type="text"
								placeholder="Search ..." class="nav-search-input"
								id="nav-search-input" autocomplete="off" /> <i
								class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div>
					<!-- #nav-search -->
				</div>

				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<h3 class="header smaller lighter blue">设置车站显示屏自动开关时间</h3>
							<form class="form-horizontal" role="form">
								<input hidden="hidden" id="pc_id" th:value="${pc.id}" />
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right"
										for="form-field-1"> 是否自动控制开关时间： </label> <select
										id="autoswitch" >
										<option value="0" th:if="${isTimeSwitch}==0" selected="selected">否</option>
										<option value="0" th:if="${isTimeSwitch}!=0" >否</option>
										<option value="1" th:if="${isTimeSwitch}==1" selected="selected">是</option>
										<option value="1" th:if="${isTimeSwitch}!=1" >是</option>
									</select>
								</div>

								<div class="form-group" id="settime">
									<label class="col-sm-3 control-label no-padding-right"
										for="form-field-1"> 设置自动开关时间: </label> <input type="time"
										class="settime" id="from"  th:value="${from}"/><span>----</span><input
										type="time" class="settime" id="to" th:value="${to}"/>
								</div>

								<div class="clearfix form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" type="button" id="save">
											<i class="icon-ok bigger-110"></i> Submit
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="icon-undo bigger-110"></i> Reset
										</button>
									</div>
									<span id="msg"></span>
								</div>
							</form>

							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
			<!-- /.main-content -->
			<div th:replace="base/settings-container::settings-container"></div>
		</div>
		<!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div>
	<!-- /.main-container -->

	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script th:src='@{/assets/js/jquery-1.10.2.min.js}'></script>
	<!-- <![endif]-->
	<script th:src='@{/assets/js/bootstrap.min.js}'></script>
	<script th:src='@{/assets/js/typeahead-bs2.min.js}'></script>

	<!-- page specific plugin scripts -->

	<!-- ace scripts -->

	<script th:src='@{/assets/js/ace-elements.min.js}'></script>
	<script th:src='@{/assets/js/ace.min.js}'></script>

	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		jQuery(function() {
			$("#save").click(function() {
				var from = $("#from").val();
				var to = $("#to").val();
				var param = {};
				param['id'] = $("#pc_id").val();
				param['isused'] = $("#autoswitch").find("option:selected").text();
				param['from'] = from;
				param['to'] = to;
				param['type'] = 6;
				  $.ajax({
					type : "JSON",
					data : JSON.stringify(param),
					contentType : "application/json",
					url : "/subsystem/setscreenautoswitchtime",
					success : function(data) {
						alert(data)
						location = "/subsystem/examinePlayerlist"
					}
				});  

			});

			$("#autoswitch").on('click', function() {
				if ($("#autoswitch").val() == 0) {
					$(".settime").val("");
					$(".settime").attr("readonly", "readonly");
				}
				if ($("#autoswitch").val() == 1) {
					$(".settime").removeAttr("readonly");
				}

			});
			if ($("#autoswitch").val() == 0) {
				$(".settime").val("");
				$(".settime").attr("readonly", "readonly");
			}
			if ($("#autoswitch").val() == 1) {
				$(".settime").removeAttr("readonly");
			}

		});
	</script>
</body>
</html>
