<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>性能采集模板</title>
<meta name="keywords" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="description" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap-editable.css}" />
<body>
	<div class="modal-dialog" style="width:80%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="reserveInfo">性能采集模板</h4>
			</div>
				<div class="modal-body">
				<form class="form-horizontal" role="form">
					<input type="text" id="templateId" hidden="hidden"/>
					<div class="form-group">
                         <label for="templateName" class="col-sm-3 control-label">模板名称</label>
                         <div class="col-sm-9">
                             <input type="text" class="form-control" id="templateName" name="templateName" 
                                    placeholder="请输入性能采集模板名称..." />
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="description" class="col-sm-3 control-label">模板描述</label>
                         <div class="col-sm-9">
                             <input type="text" class="form-control" id="description" name="description"
                                    placeholder="请输入关于模板的描述..." />
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="deviceType" class="col-sm-3 control-label">采集设备类型</label>
                         <div class="col-sm-9">
                             <select id="deviceType">
                             	<option value="4">车站服务器</option>
                             	<option value="5">车站工作站</option>
                             	<option value="6">播放控制器</option>
                             	<option value="7">显示屏</option>
                             </select>
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="performanceIndex" class="col-sm-3 control-label">采集指标</label>
                         <div class="col-sm-9">
                             <p id="performanceIndex">
                             </p>
                         </div>
                     </div>
				</form>
				<div id="div_alert"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" onclick="submitContent()" class="btn btn-primary">
						提交</button>
				</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
	<!--[if !IE]> -->

	<!-- inline scripts related to this page -->
	<script type="text/javascript" th:inline="javascript">
		"<![CDATA["
			jQuery(function($) {
				init = function(){
					$("#templateId").val([[${template.id}]]);
					$("#templateName").val([[${template.templateName}]]);
					$("#description").val([[${template.description}]]);
					$("#deviceType").val([[${template.deviceType}]])
					var items = [[${template.items}]]
					$.ajax({
						"url":"/performance/findAllIndex",
						"success":function(data){
							$("#performanceIndex").empty();
							$.each(data,function(i){
								var cb = $('<input value="'+data[i].id+'" type="checkbox" /><span class="lbl"> '+data[i].itemName+'</span>&#8195;')
								if(items!=null){
									$.each(items,function(j){
										if(data[i].itemCode == items[j].itemCode){
											$(cb).attr("checked","checked");
										}
									})
								}
								$("#performanceIndex").append(cb)
							})
					}})
				}
				
				init();
				
				submitContent = function(){
					var param = {};
					param.id=$("#templateId").val()
					param.templateName=$("#templateName").val()
					param.description=$("#description").val()
					param.deviceType=$("#deviceType").val()
					param.indexIds = "";
					var indexs = $("#performanceIndex").find('input:checkbox:checked')
					$.each(indexs,function(i){
						param.indexIds+=$(indexs[i]).val()+','
					})
					alert(param.indexIds.substring(0,param.indexIds.length-1))
					$.ajax({
						url : '/performance/addCollectionInfo',
						type:"post",
						contentType:"application/json; charset=utf-8",
						data : JSON.stringify(param),
						success:function(data){
							var success = '<div class="alert alert-success">'
								+ '<a href="#" class="close" data-dismiss="alert">&times;</a>'
								+ '<strong>成功！</strong>提交性能采集模板成功。'
								+ '</div>'
							var warning = '<div class="alert alert-warning">'
									+ '<a href="#" class="close" data-dismiss="alert">&times;</a>'
									+ '<strong>失败！</strong>提交性能采集模板失败。'
									+ '</div>'
							if (data.flag) {
								$(".modal-body #div_alert").empty().append(success);
								oTable1.ajax.reload();
							} else {
								$(
										".modal-body #div_alert")
										.empty()
										.append(warning);
							}
						}
					})
				}
			})
			"]]>"
		</script>
</body>
</html>
