<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8" />
<title>用户组列表</title>
<meta name="keywords" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="description" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- basic styles -->

<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/assets/css/zTreeStyle/zTreeStyle.css}" />

<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

<!-- page specific plugin styles -->
<link rel="stylesheet"
	th:href="@{/assets/css/jquery-ui-1.10.3.custom.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/chosen.css}" />
<!-- fonts -->

<link rel="stylesheet"
	th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300}" />

<!-- ace styles -->

<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />

<!--[if lte IE 8]>
		  <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}" />
		<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script th:src="@{/assets/js/ace-extra.min.js}"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
		<script th:src="@{/assets/js/html5shiv.js}"></script>
		<script th:src="@{/assets/js/respond.min.js}"></script>
		<![endif]-->
</head>

<body>

	<div th:replace="base/navbar::navbar"></div>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#"> <span
				class="menu-text"></span>
			</a>

			<div th:replace="base/sidebar::sidebar"></div>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {
						}
					</script>

					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"></i> <a href="#">Home</a>
						</li>
						<!-- <li>
								<a href="#"></a>
							</li> -->
						<li class="active"><a href="/security/grouplist">用户组管理</a></li>
						<li class="active">添加用户组信息</li>
					</ul>
					<!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon"> <input type="text"
								placeholder="Search ..." class="nav-search-input"
								id="nav-search-input" autocomplete="off" /> <i
								class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div>
					<!-- #nav-search -->
				</div>

				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<h3 class="header smaller lighter blue">添加用户组信息</h3>
							<form class="form-horizontal" role="form">
								<div class="row">
									<div style="float: left; width: 4%">&nbsp;&nbsp;</div>
									<div class="row" style="width: 45%; float: left">
										<div class="panel panel-default" style="width: 95%">
											<div class="panel-heading">
												<h4 class="panel-title">
													<small>添加用户组属性</small>
												</h4>
											</div>
											<div class="panel-body">
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 用户组名称: </label>

													<div class="col-sm-9">
														<input type="text" id="groupName" placeholder="Username"
															class="col-xs-10 col-sm-5" />
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 用户组描述: </label>

													<div class="col-sm-9">
														<textarea rows="" cols="" placeholder="用户组描述"
															id="groupDescription" style="height: 100px"></textarea>
													</div>
												</div>

											</div>
										</div>

										<div class="panel panel-default" style="width: 95%">
											<div class="panel-heading">
												<h4 class="panel-title">
													<small>选择管理域</small>
												</h4>
											</div>
											<div class="panel-body">
												<div style="float: left;">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> </label>
													<div style="float: left;">
														<div>
															<ul id="treeDemo" class="ztree"></ul>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div style="float: left; width: 3%">&nbsp;&nbsp;</div>
									<div class="row" style="width: 45%; float: left">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<small>添加角色</small>
												</h4>
											</div>
											<div class="panel-body">
												<div class="form-group">
													<table id="sample-table-2"
														class="table table-striped table-bordered table-hover">
														<thead>
															<tr>
																<th class="center"><label> <input
																		type="checkbox" class="ace" /> <span class="lbl"></span>
																</label></th>
																<th>角色名称</th>
																<th>角色描述</th>
															</tr>
														</thead>
													</table>
												</div>

											</div>
										</div>

										<div class="clearfix form-actions">
											<div class="col-md-offset-3 col-md-9">
												<button class="btn btn-info" type="button" id="save">
													<i class="icon-ok bigger-110"></i> Submit
												</button>

												&nbsp; &nbsp; &nbsp;
												<button class="btn" type="reset">
													<i class="icon-undo bigger-110"></i> Reset
												</button>
											</div>
												<span id="msg"></span>
										</div>
									</div>
								</div>
							</form>
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
			<!-- /.main-content -->
			<div th:replace="base/settings-container::settings-container"></div>
		</div>
		<!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div>
	<!-- /.main-container -->

	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script th:src='@{/assets/js/jquery-1.10.2.min.js}'></script>
	<!-- <![endif]-->
	<script th:src='@{/assets/js/bootstrap.min.js}'></script>
	<script th:src='@{/assets/js/typeahead-bs2.min.js}'></script>

	<!-- page specific plugin scripts -->
	<script th:src='@{/assets/js/zTree/jquery.ztree.core.js}'></script>
	<script th:src='@{/assets/js/jquery-ui-1.10.3.custom.min.js}'></script>
	<script th:src='@{/assets/js/fuelux/data/fuelux.tree-sampledata.js}'></script>
	<script th:src='@{/assets/js/fuelux/fuelux.tree.min.js}'></script>
	<script th:src='@{/assets/js/jquery.ui.touch-punch.min.js}'></script>
	<script th:src='@{/assets/js/jquery.slimscroll.min.js}'></script>
	<script th:src='@{/assets/js/jquery.ztree.all.js}'></script>
	<script th:src='@{/assets/js/chosen.jquery.min.js}'></script>

	<script th:src='@{/assets/js/jquery.dataTables.js}'></script>
	<script th:src='@{/assets/js/jquery.dataTables.bootstrap.js}'></script>
	<script language="javascript" type="text/javascript"
		th:src="@{/assets/js/flot/jquery.flot.js}"></script>
	<!-- ace scripts -->

	<script th:src='@{/assets/js/ace-elements.min.js}'></script>
	<script th:src='@{/assets/js/ace.min.js}'></script>

	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		"<![CDATA["
		jQuery(function($) {
			var zTreeObj;
			// zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
			var setting = {
				check : {
					enable : true
				},
				data : {
					simpleData : {
						enable : true
					}
				}
			};

			// zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
			var zNodes = [];
			$.get("/security/findAllResourcesByGroupId", function(data) {
				$.each(data, function(index) {
					var node = {};
					node.id = data[index].id;
					node.pId = data[index].pid;
					node.name = data[index].name;
					node.value = data[index].value;
					node.checked = data[index].checked;
					node.open = data[index].open;
					zNodes.push(node);
				})
				treeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
			})

			$(".chosen-select").chosen();
			$('#chosen-multiple-style').on('click', function(e) {
				var target = $(e.target).find('input[type=radio]');
				var which = parseInt(target.val());
				if (which == 2)
					$('#form-field-select-4').addClass('tag-input-style');
				else
					$('#form-field-select-4').removeClass('tag-input-style');
			});

			var oTable1 = $('#sample-table-2')
					.DataTable(
							{
								searching : false,
								stateSave : true,
								ordering : false,
								bLengthChange : false,
								ajax : {
									"url" : "/security/findAllRoles",
									"dataSrc" : ""
								},
								columns : [
										{
											"sClass" : "center",
											"data" : "roleId",
											"render" : function(data, type,
													full, meta) {
												return '<label><input type="checkbox" class="ace" value='+data+' /><span class="lbl"></span></label>'
											}
										}, {
											"data" : "roleName"
										}, {
											"data" : "role_description"
										} ]
							});

			$("#save").click(
					function() {
						var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
						nodes = treeObj.getCheckedNodes(true);
						var groupfieldIds = "";
						for (var i = 0; i < nodes.length; i++) {
							if (nodes[i].children == null) {
								groupfieldIds += nodes[i].id + ",";
							}
						}
						if (groupfieldIds.length > 0) {
							groupfieldIds = groupfieldIds.substring(0,
									groupfieldIds.length - 1)
						}
						/* alert(groupfieldIds); //获取选中节点的值  */
						/* alert(1); */
						var param = {};
						//选中角色
						var roleIds = "";
						var checked = $("table").find(
								'tr > td input:checkbox:checked').each(
								function() {
									roleIds += $(this).attr("value") + ',';
								})
						/* alert(roleIds); */
						if (roleIds.length > 0) {
							roleIds = roleIds.substring(0, roleIds.length - 1)
						}
						param['roleIds'] = roleIds;
						param['groupfieldIds'] = groupfieldIds;
						param['groupName'] = $("#groupName").val();
						param['group_description'] = $("#groupDescription")
								.val();
						if (param['groupName'] == ""
								|| param['group_description'] == "") {
							$("#msg").html("用户组属性不能为空").css("color", "red");
						} else if (groupfieldIds == "") {
							$("#msg").html("请选择管理域").css("color", "red");
						} else if (roleIds == "") {
							$("#msg").html("请选择至少一个角色").css("color", "red");
						} else {
							$.ajax({
								type : "POST",
								url : "/security/saveGroupInfo?",
								datatype : "json",
								contentType : "application/json",
								data : JSON.stringify(param),
								success : function(data) {
									alert(data)
									location = "/security/grouplist"
								}
							});
						}

					});

		});

		$('table th input:checkbox').on(
				'click',
				function() {
					/*  alert(1);  */
					var that = this;
					$(this).closest('table').find(
							'tr > td:first-child input:checkbox').each(
							function() {
								/* alert(2) ; */
								this.checked = that.checked;
								$(this).closest('tr').toggleClass('selected');
							});

				});

		"]]>"
	</script>
</body>
</html>
