<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8" />
<title>用户组列表</title>
<meta name="keywords" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="description" content="PIS-100,深圳宇翊,乘客信息系统" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- basic styles -->

<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />

<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

<!-- page specific plugin styles -->
<!-- fonts -->

<link rel="stylesheet"
	th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300}" />

<!-- ace styles -->

<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />

<!--[if lte IE 8]>
		  <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}" />
		<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<script th:src="@{/assets/js/ace-extra.min.js}"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
		<script th:src="@{/assets/js/html5shiv.js}"></script>
		<script th:src="@{/assets/js/respond.min.js}"></script>
		<![endif]-->
</head>

<body>

	<div th:replace="base/navbar::navbar"></div>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#"> <span
				class="menu-text"></span>
			</a>

			<div th:replace="base/sidebar::sidebar"></div>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {
						}
					</script>

					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"></i> <a href="#">Home</a>
						</li>
						<!-- <li>
								<a href="#"></a>
							</li> -->
						<li class="active"><a href="/security/userlist">用户管理</a></li>

						<li class="active">用户详情</li>
					</ul>
					<!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon"> <input type="text"
								placeholder="Search ..." class="nav-search-input"
								id="nav-search-input" autocomplete="off" /> <i
								class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div>
					<!-- #nav-search -->
				</div>

				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<h3 class="header smaller lighter blue">用户详情</h3>
							<form class="form-horizontal" role="form">
							<div style="float: left; width: 2%">&nbsp;&nbsp;</div>
								<div class="row">
									<div class="panel panel-default" style="float: left; width: 40%;">
										<div class="panel-heading">
											<h4 class="panel-title">
												<small>用户属性</small>
											</h4>
										</div>
										<input hidden="hidden" id="userId" th:value="${user.userId}"/>
										
										<div class="panel-body">
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 用户账号: </label>

													<div class="col-sm-9">
														<input type="text" id="form-field-1" th:value="${user.account}"
														readonly="readonly"	placeholder="" class="col-xs-10 col-sm-5" />
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 用户姓名: </label>

													<div class="col-sm-9">
														<input type="text" id="form-field-1" th:value="${user.realname}"
														readonly="readonly"	placeholder="" class="col-xs-10 col-sm-5" />
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 用户手机号码: </label>

													<div class="col-sm-9">
														<input type="text" id="form-field-1" th:value="${user.phone}"
														readonly="readonly"	placeholder="" class="col-xs-10 col-sm-5" />
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 用户性别: </label>

													<div class="col-sm-9">
														<input type="text" id="form-field-1" th:value="${user.gender}"
														readonly="readonly"	placeholder="" class="col-xs-10 col-sm-5" />
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 用户邮箱: </label>

													<div class="col-sm-9">
														<input type="text" id="form-field-1" th:value="${user.email}"
														readonly="readonly"	placeholder="" class="col-xs-10 col-sm-5" />
													</div>
												</div>

										</div>
									</div>
									<div style="float: left; width: 2%">&nbsp;&nbsp;</div>
									<div class="panel panel-default" style="float: left; width: 50%;">
										<div class="panel-heading">
											<h4 class="panel-title">
												<small>所属用户组信息</small>
											</h4>
										</div>
										<div class="panel-body">
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 用户组名称: </label>

													<div class="col-sm-9">
														<input type="text" id="groupName"
														readonly="readonly"	placeholder="" class="col-xs-10 col-sm-5" />
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-sm-3 control-label no-padding-right"
														for="form-field-1"> 用户组说明: </label>

													<div class="col-sm-9">
														<textarea rows="" cols="" placeholder="用户组描述" id="groupDescription"
														readonly="readonly"	style="height: 100px"></textarea>
													</div>
												</div>

										</div>
									</div>
								</div>
								
							</form>
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
			<!-- /.main-content -->
			<div th:replace="base/settings-container::settings-container"></div>
		</div>
		<!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div>
	<!-- /.main-container -->

	<!-- basic scripts -->

	<!--[if !IE]> -->
	<script th:src='@{/assets/js/jquery-1.10.2.min.js}'></script>
	<!-- <![endif]-->
	<script th:src='@{/assets/js/bootstrap.min.js}'></script>
	<script th:src='@{/assets/js/typeahead-bs2.min.js}'></script>

	<!-- page specific plugin scripts -->

	<!-- ace scripts -->

	<script th:src='@{/assets/js/ace-elements.min.js}'></script>
	<script th:src='@{/assets/js/ace.min.js}'></script>

	<!-- inline scripts related to this page -->
	<script type="text/javascript">

		jQuery(function() {
			$.ajax({
				type:'POST',
				url:"/security/findGroupOfUser?userId="+$("#userId").val(),
				datatype:"json",
				success:function(data){
				/* 	alert(data) */
					$("#groupName").val(data.groupName);
					$("#groupDescription").val(data.group_description);
				}
			});
		});
	</script>
</body>
</html>
