<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>内容包管理</title>
		<meta name="keywords" content="PIS-100,深圳宇翊,乘客信息系统" />
		<meta name="description" content="PIS-100,深圳宇翊,乘客信息系统" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->
		<link rel="stylesheet" th:href="@{/assets/css/zTreeStyle/zTreeStyle.css}" />
		<!-- fonts -->

		<link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300}" />

		<!-- ace styles -->

		<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />
		<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script th:src="@{/assets/js/ace-extra.min.js}"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script th:src="@{/assets/js/html5shiv.js}"></script>
		<script th:src="@{/assets/js/respond.min.js}"></script>
		<![endif]-->
	</head>

	<body>

		<div th:replace="base/navbar::navbar"></div>
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
				var oTable1 = null;
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div th:replace="base/sidebar::sidebar"></div>
				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<!-- <li>
								<a href="#"></a>
							</li> -->
							<li class="active">内容包管理</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="col-sm-8  no-padding">
									<div class="panel panel-default" >
									    <div class="panel-body">
									                  <div class="table-responsive">
									                  	<p class="pull-right">
															<button class="btn btn-success" id="btn_newcontentpackage" th:href="@{addContentPackage}"  data-toggle="modal" data-target="#myModal">
																<!-- <a  href="remote.html" ></a> -->新增内容包
															</button>
															<button class="btn btn-success">批量删除</button>
														</p>
														<table id="exploer" class="table table-striped table-bordered table-hover">
															<thead>
																<tr>
																	<th class="center">
																		<label>
																			<input type="checkbox" class="ace" />
																			<span class="lbl"></span>
																		</label>
																	</th>
																	<th>内容包名称</th>
																	<th>内容包说明</th>
																	<th>是否被引用</th>
																	<th>创建者</th>
																	<th>操作</th>
																</tr>
															</thead>
														</table>
												</div>
									    </div>
									</div>
								</div>
								<!-- 模态框（Modal） -->
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								</div>
								<div class="col-sm-4  no-padding">
									<div class="panel panel-default">
									    <div class="panel-body">
									       <!-- <div class="panel-heading">
												<h3 class="panel-title">内容详情</h3>
											</div> -->
											<div class="panel-body   no-padding" >
													<input type="text" id="packageId" hidden="hidden"/>
													<p class="pull-right">
														<button class="btn btn-success" id="btn_newcontentpackage" th:href="@{/playercontrol/addPackageContent/0}"  data-toggle="modal" data-target="#addPackageContent">
															新增内容
														</button>
													</p>
													<table id="contents_table" class="table table-striped table-bordered table-hover">
														<thead>
															<tr>
																<th>内容名</th>
																<th>主用内容</th>
																<th>备用内容</th>
																<th>操作</th>
															</tr>
														</thead>
													</table>
											</div>
									    </div>
									</div>
									<div class="modal fade" id="addPackageContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									</div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			<div th:replace="base/settings-container::settings-container"></div>
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script th:src='@{/assets/js/jquery-1.10.2.min.js}'></script>
		<!-- <![endif]-->
		<script th:src='@{/assets/js/bootstrap.min.js}'></script>
		<script th:src='@{/assets/js/typeahead-bs2.min.js}'></script>

		<!-- page specific plugin scripts -->
		<script th:src='@{/assets/js/jquery.ztree.all.js}'></script>
		<script th:src="@{/assets/js/jquery.gritter.min.js}"></script>
		<script th:src='@{/assets/js/jquery.dataTables.js}'></script>
		<script th:src='@{/assets/js/jquery.dataTables.bootstrap.js}'></script>
		<!-- ace scripts -->

		<script th:src='@{/assets/js/ace-elements.min.js}'></script>
		<script th:src='@{/assets/js/ace.min.js}'></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript" th:inline="javascript">
		"<![CDATA["
			jQuery(function($) {
				var parentId = "root";
				oTable1 = $('#exploer').DataTable( {
					searching:false,
					stateSave:true,
					bLengthChange:true,
					ordering:false,
					colReorder: true,
					info:false,
					paging:false,
					autoWidth: true,
					ajax: {
						"url": "/playercontrol/findAllContentPackages",
						"dataSrc": ""
					},
					columns:[
						{ 
							"sClass":"center",
							"data": "id",
							"render":function(data, type, full, meta){
									return '<label><input type="checkbox" class="ace" /><span class="lbl"></span></label>'
								}
						},
						{
							"data":"contentName"
						},
						{
							"data":"description"
						},
						{
							"width":"15%",
							"data":"referenced"
						},
						{
							"data":"creater",
							"render":function(data,type,val,meta){
								return data.account+'/'+data.realname
							}
						},
						{ 
							"sClass":"center",
							"data": "id" ,
							"render":function(data, type, val, meta){
								 var html = '<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">';
									html+= '<button type="button" class="btn btn-xs btn-info" onclick="editContentPackage('+meta.row+')"  data-toggle="button">修改</button>'
									+'&nbsp;'
									+'<button type="button" class="btn btn-xs btn-info" onclick="delContentPackage('+data+')"  data-toggle="button">删除</button>'
								+'</div>'
								return html;
							}
						} 
					]
				});
				
				$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
				});
				
				$("#myModal").on("hidden.bs.modal", function() {  
				    $(this).removeData("bs.modal");  
				});  
				
				$("#addPackageContent").on("hidden.bs.modal", function() {  
				    $(this).removeData("bs.modal");  
				});  
				
				var oTable2 = $('#contents_table').DataTable( {
					searching:false,
					stateSave:true,
					bLengthChange:true,
					ordering:false,
					colReorder: true,
					info:false,
					paging:false,
					autoWidth: true,
					ajax: {
						"url": "/playercontrol/findPackageContentByPackageId?packageId=1",
						"dataSrc": ""
					},
					columns:[
						{
							"data":"contentName"
						},
						{
							"data":"mainContent.variableName"
						},
						{
							"data":"backupContent.variableName",
							/* "render":function(data,type,val,meta){
								return data.account+'/'+data.realname
							} */
						},
						{ 
							"sClass":"center",
							"data": "id" ,
							"render":function(data, type, val, meta){
								 var html = '<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">';
									html+= '<button type="button" class="btn btn-xs btn-info" onclick="editContentPackage('+meta.row+')"  data-toggle="button">修改</button>'
									+'&nbsp;'
									+'<button type="button" class="btn btn-xs btn-info" onclick="delContentPackage('+data+')"  data-toggle="button">删除</button>'
								+'</div>'
								return html;
							}
						} 
					]
				});
				//展示内容
				$('#exploer tbody').on('click', 'tr', function() {
					var data = oTable1.row(this).data();
					$("#packageId").val(data.id);
					oTable2.ajax.url("/playercontrol/findPackageContentByPackageId?packageId="+data.id).load();
				});

				checkParam = function(groupName, playerids) {
					if (groupName != '' && playerids != '') {
						return true;
					} else {
						return false;
					}
				}

				getTableContent = function getTableContent(rowId){
					var data = oTable1.rows(rowId).data()[0]
					return data;
			      	
			    }
				
				//删除分组
				delContentPackage = function(id) {
					$.ajax({
						url : '/playercontrol/delContentPackage/' + id,
						success : function(data) {
							$.gritter.add({
								// (string | mandatory) the heading of the notification
								title : '删除内容包',
								// (string | mandatory) the text inside the notification
								text : data.message,
								class_name : 'gritter-info gritter-center'
							});
							oTable1.ajax.reload()
						}
					});
				}
				
				editContentPackage = function(rowId) {
					initModel();
					//根据播控组id获取包含的，重置播控设备树
					data = getTableContent(rowId)
					$('#myModal').modal({
					show : true,
					remote:"addContentPackage"
					})
					$("#contentPackageId").val(data.id);
					$("#contentPackageName").val(data.contentName);
					$("#description").val(data.description);
					initContentText(data.content)
				}

			})
			"]]>"
		</script>
</body>
</html>
